@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

.nanumgothiccoding * {
 font-family: 'Nanum Gothic Coding', monospace;
}
*{
	margin: 0;
	padding:0;
	
}
/* 화면 전체 렙 */
.wrapper{
	max-width: 1200px;
	margin: 0 auto;
	
	/* background-color: red; */
}

/* 홈페이지 메인 제품 목록  */
.content_area{
	width: 100%;
	padding-top:220px;
    background-color: #97ef97;
    height: 350px;
	
}
/* 푸터 영역 */
.footer_area{
	width:100%;
	height:100px;
	background-color: blue;
}
